// Some colors are inspired by DuckDuckGo, a wonderful search engine which
// doesn't track you.

$color-bg: #222
$color-header-bg: #1b1b1b
$color-header-border: #1f1f1f
$color-text: #ccc
$color-text-strong: #eee
$color-text-weak: #aaa
$color-text-ninja: #999
$color-link: #50f148
$color-link-visited: #ad4ad2
$color-form-input-bg: #1b1b1b
$color-form-input-border: #181818
$color-form-input-text: #333
$color-form-button-bg: #333
$color-form-button-text: #ccc
$color-form-button-happy-bg: #003B94
$color-form-button-happy-text: #fff
$color-form-button-yolo-bg: #610000
$color-form-button-yolo-text: #FF7D7D
$color-voter-default: $color-text
$color-voter-up: #46B2FF
$color-voter-down: #C33223
$color-content-bg: #333
$color-post-parent-bg: #2b2b2b
$color-post-detail-bg: #3A3A3A
$color-post-detail-text: #2BFFE5
