development:
  # Used to sign cookies.
  # Generate a new secret key with: rake secret
  secret_key_base: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

  # anomi backend API
  # https://github.com/AnomiNet/anomi
  api_url: http://local.anomi.net:9393

test:
  secret_key_base: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  # Rails secret key, for signing cookies.
  secret_key_base: <%= ENV["RAILS_SECRET_KEY"] %>

  # API_PORT should be assigned by Docker Compose
  # See https://github.com/AnomiNet/anomi/blob/master/docker-compose.yml
  api_url: <%= ENV["API_PORT"].try(:gsub, 'tcp', 'http').try(:concat, '/api') %>
