- title @post.tldr
- header @post.tldr

- if @post_parent
  = render partial: 'parent', locals: { post: @post_parent }

= render partial: 'detail', locals: { post: @post }

- @posts.each do |post|
  = render partial: 'reply', locals: { post: post, rel_root_depth: @post.depth }
